* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #590e4c, #120e5c);
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}

.header {
    font-family: monospace;
    display: flex;
    padding: 1.6rem;
    align-items: center;
    background-color: rgb(209, 205, 229);
    height: 6rem;
    width: 100vw;
    font-size: 2rem;
    justify-content: space-between;
    border-bottom: solid .5rem rgb(79, 79, 79);
}

.left, .right {
    display: flex;
    align-items: center;
}

ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
}

.left img {
    height: auto;
    width: 7rem;
}

.left h1 {
    margin-right: 1rem;
    color: #540366;
    text-shadow: 0 0 1.5rem rgb(232, 50, 217); 
}

.left p {
    letter-spacing: .5rem;
}

.right img {
    height: auto;
    width: 4rem;
}

.right a {
    color: #6b2a78;
    font-size: 2.5rem;
}

.right a:hover {
    text-shadow: 0 0 1.5rem rgb(214, 11, 221); 
    color: #2b262c;
}

.title {
    display: flex;
    margin: 2rem;
}

.title h1 {
    font-size: 7rem;
    color: aliceblue;
}

span {
    color: rgb(207, 140, 241);
    text-shadow: 0 0 50px rgb(124, 13, 243);
    font-family: monospace;
}

.card {
    height: 55rem;
    width: 100rem;
    border-radius: 2rem;
    background-color: rgba(24, 24, 24, 0.3);
    
}