@import url('https://fonts.googleapis.com/css2?&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #590e4c, #120e5c);
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
}

.header {
    font-family: monospace;
    display: flex;
    padding: 1.6rem;
    align-items: center;
    background-color: rgb(209, 205, 229);
    height: 6rem;
    width: 100vw;
    font-size: 2rem;
    justify-content: space-between;
    border-bottom: solid .5rem rgb(79, 79, 79);
}

.left, .right {
    display: flex;
    align-items: center;
}

ul {
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.left img {
    height: auto;
    width: 7rem;
}

.left h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 1rem;
    color: #540366;
    text-shadow: 0 0 1.5rem rgb(232, 50, 217); 
}

.left p {
    letter-spacing: .5rem;
}

.right img {
    height: auto;
    width: 4rem;
}

.right a {
    color: #3b3a3b;
    font-size: 2.5rem;
}

.right a:hover {
    text-shadow: 0 0 1.5rem rgb(214, 11, 221); 
    color: #2b262c;
    text-decoration: underline;
}

.title {
    margin: 3rem;
}

.title h1 {
    font-size: 7rem;
    color: aliceblue;
}

span {
    color: rgb(207, 140, 241);
    text-shadow: 0 0 50px rgb(124, 13, 243);
    font-family: monospace;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 60vh;
    width: 80vw;
    border-radius: 2rem;
    background-color: rgba(24, 24, 24, 0.3);
    transform-origin: center; /* from center, expand all sides */
    transition: transform .3s;
}

.card1:hover {
    transform: scale(1.05);
}

.code-container {
    display: flex;
    justify-content: flex-end;
}

.code {
    font-size: 1.75rem;
    border-radius: 2rem;
    width: 100vw;
}

.intro {
    color: aliceblue;
    margin: 2rem;
    padding: 2.5rem 4rem;
    font-size: 2.41rem;
    text-align: justify;
    text-shadow: 0 0 1.3rem rgb(246, 242, 247);
    line-height: 4rem;
}

.intro span {
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0 0 1rem rgb(63, 13, 243);
    font-size: 4rem;
}
